*{
    margin:0;
    padding: 0;
    font-family: "Inter", sans-serif;
}
/* Common Style */
.container{
    max-width: 1280px;
    margin: auto;
    }
.primary-button{
    background-color: #1D4ED8;
    font-size: 16px;
    font-weight: 700;
    color: white;
    padding: 8px 24px;
    border: none;
    border-radius: 10px;
}
h2{
    font-size: 56px;
    font-weight: 700;
    line-height: 64.4px;
    color: #000102;
}

/* nav Section Start */

.nav-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 16px 0;

}
ul{
    display: flex;
    gap: 24px;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}
ul li {
    list-style: none;
    
}
ul li {
    list-style: none;
    
}
ul li a:hover{
    color: #1D4ED8;
    
}
ul li a{
    text-decoration: none;
    font-size: 16px;
    color: #575757;
    cursor: pointer;
}
/* Nav Section End */
header{
    background-image:linear-gradient(to bottom, #140a1e80, #1b1c1e80),  url(./assets/banner.jpg);
    height: 90vh;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: grid;
    justify-content: center;
    

}

h1{
    font-size: 80px;
    font-weight:700 ;
    line-height: 80px;
    letter-spacing: -3.2px;
    color: white;
}
.hero-content{
    margin-top: 20%;
    text-align: center;
}
.hero-content p{
    font-size: 22px;
    font-weight: 400;
    color: white;
    line-height: 24px;
    margin-top: 16px;
}
.hero-content button{
    margin-top: 30%;
}
/* Hero Banner End */

/* Speaker Section Start */

#section-heading{
    text-align: center;
    margin-top: 80px;
}

#department{
    font-size: 12px;
    font-weight: 400;
    color: #1D4ED8;
}
.card h5{
    font-size: 20px;
    font-weight: 700;
    line-height: 27.5px;
    color:#0D1B2A;
    
}
#designation{
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    color: #575757;
}
.card img{
    width: 100%;
    border-radius: 10px 10px 0 0;
}
.card{
    border: 1px solid rgb(230, 226, 226);
    border-radius: 10px;
}

.speaker-card{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 24px;
    margin-top: 40px;
}
#card-content{
    margin: 12px 12px;
}

.card{
    display: grid;
    gap: 8px;
}

/* Speaker Section End */

/* Pricing Card Section Started */

.price-card-content{
   text-align: center;
   margin-top: 80px;
   display: grid;
   gap: 12px;
}
.price-card-content h2{
    font-size: 44px;
}
.price-card-content p{
    font-size: 16px;
    color: #575757;
    margin-bottom: 40px;
}

.pricing-card-first-part p{
    font-size: 13px;
    font-weight: 400;
    line-height: 19.5px;
    color: #888888;
    
}
.pricing-card-first-part h4{
    font-size: 44px;
    font-weight: 700;
    line-height: 44px;
    color: #0D1B2A;
    margin: 12px 0;
}
.pricing-card-first-part{
    margin: 24px 0;
}
.pricing-card-second-part ul{
    display: grid;
    gap: 12px;
}
.pricing-card-second-part ul li{
    list-style-type: disc ;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    color: #333333;

    
}
.primary-button-two{
    background-color: #1D4ED8;
    font-size: 16px;
    font-weight: 700;
    color: white;
    padding: 8px 40%;
    border: none;
    border-radius: 10px;
    margin-top: 24px;
}
.secondary-button{
    font-size: 14px;
    font-weight: 600;
    line-height: 21px;
    color: #1D4ED8;
    border: 1px solid #1D4ED8;
    padding: 8px 30%;
    border-radius: 10px;
    margin-top: 24px;
}
.secondary-button-two{
    font-size: 14px;
    font-weight: 600;
    line-height: 21px;
    color: #000102;
    border: 1px solid #000102;
    padding: 8px 30%;
    border-radius: 10px;
    margin-top: 24px;
}
.pricing-card-parent{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 44px;
}
.pricing-card-one  {
    border: 1px solid #ede5e5;
    padding: 24px 40px;
    display: grid;
    align-items: center;
    border-radius: 10px;
}

.pricing-card-three{
     border: 1px solid #ede5e5;
    padding: 24px 40px;
    display: grid;
    align-items: center;
    border-radius: 10px;
}

.pricing-card-two{
   border: 1px solid #ede5e5;
    padding: 24px 40px;
    display: grid;
    align-items: center;
    border-radius: 10px;
    background-color: #000102; 
}
.pricing-card-two h4{
    color: white;
    margin: 12px 0;
}
.pricing-card-two ul li{
    color: white;
}
.pricing-card-two #para-one{
    color: #1D4ED8;
}

/* Pricing Card Section End */

.schedule{
    background-image:linear-gradient(45deg, rgba(136, 73, 227, 0.9) 
    0%, rgba(73, 145, 227, 0.9) 100%),
      url(./assets/bgimage.jpg);
    height: 100vh;
    background-position: center;
    background-size: cover;
    display: grid;
    justify-content: center;
    margin-top: 80px;
}
#schedule-heading{
    
    color: white;
    text-align: center;
    margin-top: 40px;
}
#schedule-para{
    font-size: 16px;
    color: white;
    margin-bottom: 40px;
    text-align: center;
    letter-spacing: 3px;
}
thead{
    background-color: #0d111e;
    
    
}

th{
    padding: 16px 24px;
}
th> #thead-first{
    background-color: #1D4ED8;
}
 th h3{
    color: white;
    font-size: 28px;
    margin-bottom: 8px;
}
th p{
    font-size: 16px;
    color: white;
}
tbody tr{
    padding: 32px 0;
    background-color: #80bdf9;
    opacity: .5;
    
}
td{
    padding: 20px;
}
td img{
    width: 80px;
    height: 60px;
    border-radius: 50%;
    border: 2px solid #1D4ED8;
    
}
td h4{
    font-size: 16px;
    margin-bottom: 8px;
    font-weight: 700;
}
td p{
    font-size: 14px;
    color: #0404fe;
}

table{
    border-collapse: collapse;
    
}
td{
    border: 1px solid rgb(193, 183, 183);
}
#thead-first{
    background-color: #1D4ED8;
}
th span{
    color: #1D4ED8;
}
td h4{
    color: #000102;

}
td{

color: #000102;
}

/* Schedule End */
/* Footer Start */

footer{
    background-color: #e9ebf5;
   
    margin-top: 80px;
}
.footer-parent{
    display: flex;
    justify-content: space-around;
    padding: 40px 0;
}

.footer-middle-side ul{
    display: grid;
    color: #0d111e;
    cursor: pointer;
    
   
}



form{
    display: grid;
    gap: 8px;
    background-color: white;
    padding: 12px;
    box-shadow: 5px 5px 36px rgb(182, 180, 180);
    margin-bottom: 12px;
}
.footer-middle-side h4{
    font-size: 22px;
    font-weight: 700;
    margin-bottom: 24px;
}
.footer-right-side h4{
    font-size: 22px;
    font-weight: 700;
    margin-bottom: 24px;

}
form input{
    padding: 6px;
    font-size: 12px;
   border: 1px solid rgb(207, 206, 206);
   border-radius: 5px;
}
form textarea{
  border: 1px solid rgb(207, 206, 206);
   border-radius: 5px;  
}
.social-icon{
    font-size: 18px;
    color: #0404fe;
    margin-top: 8px;
}
 .copyright{
    background-color: #020230;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    
 }
.copyright p{
    color: #888888;
    font-size: 14px;
    margin-left: 8%;
}
.privacy{
    margin-right: 8%;
}
.privacy a{
    text-decoration: none;
     font-size: 14px;
     color: #888888;}
    



